.App {
  text-align: center;
  height: 100vh
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
}

.App-link {
  color: #61dafb;
}

.photo{
  height: calc(width * 2.14);
  width: calc(70%);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.map-div {
  height: 70%;
  margin: 10px;
  width: 100%;
}

/*
 Due to issues with webpack + leaflet, all leaflet will be in this file for now
 source: https://stackoverflow.com/a/60993845/13808958
 */
.leaflet-container {
  width: 100%; 
  height: 100%;
}
